@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  /* Custom color palette from your original design */
  --color-black: rgb(17 17 17);
  --color-grey: rgb(205 205 205);
  --color-grey-2: rgb(250 251 253);
  --color-main: rgb(23 81 209);
  --color-primery: rgb(0 13 38);
  --color-red: rgb(255 60 60);
  --color-text-black: rgb(57 53 64);
  --color-white: rgb(255 255 255);
  --color-white-2: rgb(255 255 255);

  /* Shadcn UI color scheme */
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.15 0.0097 285.82);

  --color-muted: oklch(0.96 0.0037 220.9);
  --color-muted-foreground: oklch(0.47 0.0044 220.9);

  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.15 0.0097 285.82);

  --color-border: oklch(0.91 0.0089 220.9);
  --color-input: oklch(0.91 0.0089 220.9);

  --color-card: transparent;
  --color-card-foreground: oklch(0.15 0.0097 285.82);

  --color-primary: oklch(0.15 0.0097 285.82);
  --color-primary-foreground: oklch(0.98 0.0013 220.9);

  --color-secondary: oklch(0.96 0.0037 220.9);
  --color-secondary-foreground: oklch(0.15 0.0097 285.82);

  --color-accent: oklch(0.96 0.0037 220.9);
  --color-accent-foreground: oklch(0.15 0.0097 285.82);

  --color-destructive: oklch(0.5 0.208 27.33);
  --color-destructive-foreground: oklch(0.98 0.0013 220.9);

  --color-ring: oklch(0.65 0.016 220.9);

  --radius: 0.5rem;

  --shadow-reverse-shadow: 0 -20px 25px -5px rgb(0 0 0 / 0.1),
    0 -8px 10px -6px rgb(0 0 0 / 0.1);
}

@utility all-unset {
  all: unset;
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    @apply bg-gray-50 text-gray-800;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dotted-background {
    background-color: #ffffff;
    background-image: radial-gradient(
      circle at 1px 1px,
      #e5e7eb 1px,
      transparent 0
    );
    background-size: 2rem 2rem;
  }

  .dark {
    --color-background: oklch(0.04 0.02 285.82);
    --color-foreground: oklch(0.91 0.0081 220.9);

    --color-muted: oklch(0.11 0.02 285.82);
    --color-muted-foreground: oklch(0.57 0.0044 220.9);

    --color-accent: oklch(0.17 0.02 285.82);
    --color-accent-foreground: oklch(0.98 0.0013 220.9);

    --color-popover: oklch(0.04 0.02 285.82);
    --color-popover-foreground: oklch(0.65 0.016 220.9);

    --color-border: oklch(0.17 0.02 285.82);
    --color-input: oklch(0.17 0.02 285.82);

    --color-card: transparent;
    --color-card-foreground: oklch(0.91 0.0081 220.9);

    --color-primary: oklch(0.98 0.0013 220.9);
    --color-primary-foreground: oklch(0.12 0.0097 285.82);

    --color-secondary: oklch(0.15 0.0097 285.82);
    --color-secondary-foreground: oklch(0.98 0.0013 220.9);

    --color-destructive: oklch(0.31 0.159 27.33);
    --color-destructive-foreground: oklch(0.98 0.0013 220.9);

    --color-ring: oklch(0.17 0.02 285.82);
  }
}
